extends layout

block content
  h1= title
  p Welcome to #{title}
  p If mom sees this vi von zulul
  button#Black(
  type='submit'
  style='width: 180px; height: 25px;'
  onclick='goToUser()'
  ) Try Me!
